:root {
	--thumb: #023047;
	--track: lightgray;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.rotate-y-180 {
		transform: rotateY(180deg);
	}

	.backface-invisible {
		backface-visibility: hidden;
	}

	.preserve-3d {
		transform-style: preserve-3d;
	}

	.perspective {
		perspective: 500px;
	}
}

/* Firefox */
.scrollbar {
	scrollbar-width: thin;
	scrollbar-color: var(--thumb) var(--track);
}

/* Chrome, Edge, and Safari */
.scrollbar::-webkit-scrollbar {
	width: 15px;
}

.scrollbar::-webkit-scrollbar-track {
	background: var(--track);
	border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--thumb);
	border-radius: 20px;
}
