:root {
	--thumb: #023047;
	--track: lightgray;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layout components {
	.active-nav {
		@apply h-10 w-full bg-secondary-100 rounded-lg absolute;
	}
}

/* Firefox */
.scrollbar {
	scrollbar-width: thin;
	scrollbar-color: var(--thumb) var(--track);
}

/* Chrome, Edge, and Safari */
.scrollbar::-webkit-scrollbar {
	width: 15px;
}

.scrollbar::-webkit-scrollbar-track {
	background: var(--track);
	border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--thumb);
	border-radius: 20px;
}
